@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #4d85c5;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
}

.all-page {
  width: 100vw;
  height: 100vh;
  clip-path: circle(62.2% at 27% 50%);
  background: #9aafd6;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 25vmax;
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 5%;
  border: 2px dashed white;
  padding: 1%;
  border-radius: 5px;
    /* Created with https://www.css-gradient.com */
  background: #7D95BD;
  background: -webkit-linear-gradient(bottom, #7D95BD, #9AB0D6);
  background: -moz-linear-gradient(bottom, #7D95BD, #9AB0D6);
  background: linear-gradient(to top, #7D95BD, #9AB0D6);
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  }

.container h1 {
  text-align: center;
  height: 5%;
  background-color: #4d85c5;
  width: 100%;
  border-radius: 5px 5px 0 0;
  font-size: 2.5vh;
}

.container .for-image {
  text-align: center;
  height: 10%;
}

.container .for-image img {
  height: 100%;
}
.container ul {
  list-style: none;
  height: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: start;
  margin: 3% 0 3% 0;
}

.container ul li{
  margin-top: 8px;
  text-indent: 5px;
  font-size: 1.5vh;
}

.container .form {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.container .form div {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.container .form div input {
  border: none;
  height: 3vh;
  text-indent: 5px;
  color: #0a3363;
}

.container .form div label {
  font-size: 1.8vh;
}
.container .form input:hover {
  border: 1px solid #4d85c5;
}

.container .form input:focus {
  border: 1px solid #4d85c5;
  outline: #4d85c5;
  background-color: rgb(247, 247, 247);
}

.container .form button {
  border: none;
  height: 4vh;
  margin-top: 15px;
  background-color: #4d85c5;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.container .form button:hover {
  background-color: #2e6cb3;
}

.container .form button:active {
  background-color: #0a3363;
}

.footer {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4d85c5;
  border: 2px solid white;
  z-index: 5;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-1 18:22:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.container rect {
  fill: white;
}

.p-advice {
  color: rgba(255, 0, 0, 0.774);
  font-size: 12px;
  height: 15px;
  margin-top: 4px;
  transition: all .8s ease-in-out;
}





